@import url('https://fonts.googleapis.com/css2?family=Acme&family=Rubik:wght@400;700&display=swap');

// Réglages généraux
:root {
  --Primary-Color: #b9abcf;
  --Primary-Color-Alt: #d5d0e5;
  --Secondary-Color: #6b1108;
  --Dark-Color: #2d2c2c;
  --Light-Color: #f3e6e8;
  --Gradient-Color: linear-gradient(275deg, var(--Primary-Color) 0%, var(--Primary-Color-Alt) 74%);
  font-size: 10px;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: var(--Dark-Color);
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit
}

html,
body,
p,
ul,
ol,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Acme', sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none
}

button,
input {
  margin: 0
}

p,
li,
span,
input,
label {
  font-size: 1.7rem;
}

p {
  padding: 2rem 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 5rem 0 2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

li {
  display: inline;
}

main {
  padding-bottom: 5rem;
  min-height: 100%;
}

.mainWrapper {
  margin-bottom: -5rem;
}

// Réglages sweetAlert
.swal2-container .swal2-popup {
  font-size: 1.7rem;
}

.swal2-success-line-long,
.swal2-success-line-tip,
.swal2-x-mark-line-left,
.swal2-x-mark-line-right {
  font-size: inherit;
}

// Imports
@import 'elements/header';
@import 'elements/cart';
@import 'elements/products';
@import 'elements/singleProduct';
@import 'elements/footer';
@import 'elements/confirmation';
@import 'elements/responsive';