<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="Que vous cherchiez la perle rare ou à faire plaisir à votre entourage, Orinounours est fait pour vous. Consultez nos peluches de qualité, faits à la main.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orinounours, peluches fabriquées main pour les grands et les petits</title>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://lokkotara.github.io/P5_florand_gregory/">
  <meta property="og:title" content="Orinounours, peluches fabriquées main pour les grands et les petits">
  <meta property="og:description"
    content="Que vous cherchiez la perle rare ou à faire plaisir à votre entourage, Orinounours est fait pour vous. Consultez nos peluches de qualité, faits à la main.">
  <meta property="og:image" content="http://localhost:3000/images/teddy_5.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://lokkotara.github.io/P5_florand_gregory/">
  <meta property="twitter:title" content="Orinounours, peluches fabriquées main pour les grands et les petits">
  <meta property="twitter:description"
    content="Que vous cherchiez la perle rare ou à faire plaisir à votre entourage, Orinounours est fait pour vous. Consultez nos peluches de qualité, faits à la main.">
  <meta property="twitter:image" content="https://lokkotara.github.io/P5_florand_gregory/">

  <link rel="icon" type="image/png" href="./images/favicon.png">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
    
  <!-- pages -->
  <script src="js/pages/home.js"></script>
  <%- include("../partials/scripts.html"); %>

</head>

<body class="body">
  <%- include("../partials/header.html"); %>
  <main class="indexMain">
    <h1>Orinounours : un compagnon de vie pour votre enfant</h1>
    <p class="heading">
      Un cadeau de naissance ? Envie de faire plaisir ?<br> Ne sous-estimez pas l'achat d'un premier ours en peluche.
      Chez Orinounours, offrez celui qui deviendra le meilleur ami des tout petits.<br>Toutes nos peluches sont
      fabriquées avec soin et à la main dans notre atelier familial. Ainsi, nous garantissons la qualité unique de nos
      produits.
    </p>
    <section>
      <h2>Nos dernières créations</h2>
      <div class="cardsWrapper">
       
      </div>
    </section>
  </main>
  <%- include("../partials/footer.html"); %>
</body>

</html>

