<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Venez découvrir ce nounours attendrissant. Plusieurs couleurs sont disponibles pour satisfaire même les plus exigeants.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue détaillée du nounours | Orinounours</title>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://lokkotara.github.io/P5_florand_gregory/">
  <meta property="og:title" content="Vue détaillée du nounours | Orinounours">
  <meta property="og:description"
    content="Venez découvrir ce nounours attendrissant. Plusieurs couleurs sont disponibles pour satisfaire même les plus exigeants.">
  <meta property="og:image" content="http://localhost:3000/images/teddy_5.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://lokkotara.github.io/P5_florand_gregory/">
  <meta property="twitter:title" content="Vue détaillée du nounours | Orinounours">
  <meta property="twitter:description"
    content="Venez découvrir ce nounours attendrissant. Plusieurs couleurs sont disponibles pour satisfaire même les plus exigeants.">
  <meta property="twitter:image" content="https://lokkotara.github.io/P5_florand_gregory/">

  <link rel="icon" type="image/png" href="./images/favicon.png">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
  
  <!-- pages -->
  <script src="js/pages/product.js"></script>
  <%- include("../partials/scripts.html"); %>
</head>

<body>
  <%- include("../partials/header.html"); %>
  <main class="productMain mainWrapper">
    <h1>Envie d'en savoir plus ?</h1>
    <p class="heading">
      Découvrez en détail l'univers de chacune de nos peluches. Des plus douces aux plus câlines, nos orinounours
      apportent du réconfort à n'importe quel moment de la journée. De plus, nous vous offrons la possibilité de
      personnaliser la couleur de votre ours en peluche parmi nos différents coloris.
    </p>
    <div class="singleCardWrapper"></div>
  </main>
  <%- include("../partials/footer.html"); %>
</body>

</html>