// espace panier
.mainCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem 2rem;
  text-align: center;

  h2 {
    padding: 2rem 0;
  }

  table {
    font-size: 1.5rem;
    width: 100%;

    tbody {
      display: flex;
      flex-flow: wrap;
      row-gap: 2rem;

      .contentText {
        width: 100%;
        text-align: center;
      }
    }

    img {
      max-width: 100%;
      border-radius: 1.5rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    td {
      padding: 0.5rem;
    }

    tr {
      display: flex;
      background-color: var(--Light-Color);
      border-radius: 1.5rem;
      flex-flow: column wrap;
      width: 100%;
      align-items: center;
    }

    .trashIcon {
      font-size: 2rem;
      color: var(--Secondary-Color);
      cursor: pointer;
    }

    .totalCart {
      justify-content: flex-end;
      width: 100%;
      border-radius: 1.5rem;
      background-color: var(--Primary-Color);
      font-weight: bold;
    }
  }
}

// espace formulaire
.form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  max-width: 37rem;
  width: 100%;
  row-gap: 1rem;

  #resetInputs {
    width: 20rem;
    margin: 0 auto 1rem;
    border-radius: 25px;
    padding: 1rem 0;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: var(--Secondary-Color);
      color: beige;
      box-shadow: 0 2px 3px;
    }
  }

  input:valid {
    border-color: #c2d8b6;
  }

  span {
    color: var(--Secondary-Color);
  }

  a {
    align-self: center;

    &:hover {
      color: white;
    }
  }

  &Btn,
  .cartBtn {
    border: none;
    padding: 1.5rem;
  }

  &Btn {
    font-weight: bold;
    border-radius: 1.5rem;
    background-color: var(--Primary-Color);
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;

    }
  }

  label {
    font-weight: bold;
  }

  .lastInput {
    margin-bottom: 2rem;
  }

  .orderBtn {
    background-color: var(--Primary-Color);
    text-align: center;
    align-self: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 1.5rem;
    max-width: 40rem;
  }

  .notice {
    font-size: 1.2rem;
    font-style: italic;

    span {
      font-size: 1.2rem;
    }
  }
}